/* Login.css */

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set a background color for the body */
}

.main-container {
  text-align: center;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-container h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

/* Adjusting input styles */
.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling the login button */
.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.login-button:active {
  transform: scale(0.95);
}

/* Styling the signup text */
.signup-text {
  font-size: 14px;
  margin-top: 20px;
}

.signup-link {
  color: #007bff;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.signup-link:hover {
  text-decoration: underline;
}
